importFrom("stats", "as.dist", "dist", "hclust", "as.hclust", "sd", "cutree", "model.matrix", "r2dtable", "runif", "uniroot")
importFrom("utils", "combn")
importFrom("grDevices", "axisTicks", "colors", "n2mfrow", "topo.colors", "xy.coords")
importFrom("graphics", "arrows", "axis","box", "grid","image", "layout", "mtext", "plot", "plot.new", "plot.window", "points", "polygon", "rect", "segments", "lines", "par", "legend", "abline", "dotchart", "barplot", "strheight", "strwidth", "symbols", "text")
importFrom("ade4", "as.dudi", "as.randtest", "as.krandtest", "dudi.pco", "dudi.pca", "ktab.list.df", "rlq", "scalewt", "is.euclid", "apqe", "divcmax", "disc", "dist.taxo")
importFrom("ape", "as.phylo", "ladderize", "plot.phylo", "read.tree", "is.ultrametric", "vcv.phylo", "compute.brlen", "is.binary.phylo", "cophenetic.phylo", "drop.tip", ".PlotPhyloEnv", "write.tree", "node.height", "node.depth.edgelength", "collapse.singles")
importFrom("cluster", "daisy")
importFrom("methods", "as", "is")
importFrom("rgl", "plot3d", "rgl.useNULL")
importFrom("adegraphics", "s.label", "s.class", "s.value", "s.arrow", "s1d.distri", "triangle.label", "ADEgS")
importFrom("phylobase", "ancestors", "children", "descendants", "edgeLength", "edgeLength<-", "extractTree", "getEdge", "getNode", "hasEdgeLength", "hasNodeLabels", "isRooted", "MRCA", "nodeLabels", "nodeLabels<-", "nNodes", "nTips", "phylo4d", "reorder", "rootNode", "subset", "sumEdgeLength", "tdata", "tipLabels")
importFrom("phytools", "starTree")
importFrom("lpSolve", "lp.transport")

exportPattern("^[^\\.]")


S3method(plot, phylo4d)
S3method(plot, abgdivparam)
S3method(plot, abgevodivparam)
S3method(plot, aptree)
S3method(plot, decdiv)
S3method(plot, divparam)
S3method(plot, dspca)
S3method(plot, eveparam)
S3method(plot, evodivparam)
S3method(plot, evoeveparam)
S3method(plot, evouniparam)
S3method(plot, FPdivparam)
S3method(plot, rlqESLTP)
S3method(plot, rtestaptree)
S3method(plot, evoCA)
S3method(summary, rlqESLTP)
S3method(summary, dbMANOVAspecies_pairwise)
