importFrom("stats", "as.dist", "dist", "hclust", "as.hclust", "sd", "cutree", "model.matrix")
importFrom("grDevices", "colors", "n2mfrow")
importFrom("graphics", "plot", "lines", "par", "legend", "abline", "dotchart", "barplot")
importFrom("adephylo", "distTips", "distRoot", "listDD", "listTips", "table.phylo4d", ".tipToRoot")
importFrom("ade4", "as.dudi", "as.randtest", "as.krandtest", "dudi.pco", "s.label", "s.arrow", "s.value", "scatter", "triangle.plot", "dudi.pca", "ktab.list.df", "rlq", "sco.distri", "scalewt", "is.euclid", "apqe", "divcmax", "disc", "dist.taxo")
importFrom("ape", "as.phylo", "plot.phylo", "read.tree", "is.ultrametric", "vcv.phylo", "compute.brlen", "is.binary.tree", "cophenetic.phylo", "drop.tip")
importFrom("cluster", "daisy")
importFrom("methods", "as")
import(phylobase, except="plot")

exportPattern("^[^\\.]")

S3method(plot, abgevodivparam)
S3method(plot, aptree)
S3method(plot, divparam)
S3method(plot, rlqESLTP)
S3method(plot, rtestaptree)
S3method(summary, rlqESLTP)
